*.pyc
*.egg-info
*.iml
**/.DS_STORE

# Misc Folders
.cache/

# Ignore Saving Results
hyperparam_search/log*
hyperparam_search/2022*
hyperparam_search/*tar*
experiments/results*
experiments/data/**/logs/
experiments/data/liver*
